*.db
*.db.bak*
__pycache__/
build/
dist/
node_modules/
.DS_Store
*.zip
uv-dashboard/build/
uv-dashboard/dist/
uv-dashboard/__pycache__/
uv-dashboard-2.0/build/
uv-dashboard-2.0/dist/
uv-dashboard-2.0/__pycache__/
*.pyc
installer_output/
uv-dashboard-2.0/full_uploads/
uv-dashboard/uploads/
uv-dashboard/shares/
*.xlsx
